
.red{
    background-color: violet;
}

.box {
    border: solid 3px black;
    border-radius: 10px;
    text-align: center;
}

p{
    background-color: rgb(160, 146, 146);
}
.text{
    text-align: center;
}
